    $font: 'Roboto Mono'
    $background: #222222;
    $foreground: #f2ecff;
    $black:      #292d3e;
    $red:        #f07178;
    $green:      #c3e88d;
    $yellow:     #ffcb6b;
    $blue:       #82aaff;
    $magenta:    #c792ea;
    $cyan:       #89ddff;
    $white:      #d0d0d0;
    $hblack:      #434758;
    $hred:        #ff8b92;
    $hgreen:      #ddffa7;
    $hyellow:     #ffe585;
    $hblue:       #9cc4ff;
    $hmagenta:    #e1acff;
    $hcyan:       #a3f7ff;
    $hwhite:      #ffffff;
