
$padding: .01em .01em .01em .35em

* 
  all: unset

.layout-box
  background-size: contain
  background-repeat: no-repeat


.workspace-config
  color: $foreground
  padding: $padding
  font-size: 16px
  background-color: $background
  border-radius: 15px
  border-style: groove
  
.test
  padding: 1em 1em 1em 1em
  font-size: 20px
  background-color: $hblack
  border-radius: 15px
  border-style: groove 
  border-color: $background
  border-width: 2px
  & .plane
    box-shadow: 5px 7px 5px -12px $black
    opacity: .5
    transition-duration: .7s
    &:hover
      opacity: 1

