(box :orientation "h" :spacing 5 :space-evenly false (button :onclick "workspaceClick 1" "󱡓") (button :onclick "workspaceClick 2" "󰝥") (button :onclick "workspaceClick 3" "󰝦") (button :onclick "workspaceClick 4" "󰝦") (button :onclick "workspaceClick 5" "󰝦") (button :onclick "workspaceClick 6" "󰝦") (button :onclick "workspaceClick 7" "󰝦") (button :onclick "workspaceClick 8" "󰝦") (button :onclick "workspaceClick 9" "󰝦"))
